
version: "3"
services:
  php:
    build:
      context: ./
      args:
        - WITH_XDEBUG=true
    container_name: app
    volumes:
      - ./:/var/www/html:rw,cached
    environment:
      - VIRTUAL_HOST=app.local
      - XDEBUG_CONFIG=remote_host=192.168.1.4 xdebug.idekey=''
networks:
  default:
    external:
      name: nginx-proxy