
version: "3"
services:
  php:
    build:
      context: ./
      args:
        - WITH_XDEBUG=true
    container_name: app
    volumes:
      - ./:/var/www/html:rw,cached
    environment:
      VIRTUAL_HOST: app.local
    env_file:
      - .env.docker
networks:
  default:
    external:
      name: nginx-proxy